@{ 
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewBag.Title = "Dashboard";
}

<div class="ui grid">
    <div class="ui hidden divider"></div>
    <div class="row padded">
        <div class="four wide column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="~/images/no-image.png" />
                </div>
                <div class="content">
                    <h3 class="center aligned">Toby Yuretich</h3>
                </div>
            </div>
            <div class="ui fluid vertical menu">
                <a class="item">Item 1</a>
                <a class="item">Item 2</a>
                <a class="item">Item 3</a>
            </div>
        </div>
        <div class="twelve wide column">
            <div class="ui icon blue message">
                <i class="user icon"></i>
                <div class="content">
                    <span class="header">Complete Profile</span>
                    <p>Fill out your profile details here!</p>
                </div>
            </div>
            <div class="ui icon message">
                <i class="inbox icon"></i>
                <div class="content">
                    <span class="header">New Messages</span>
                    <p>You have three new messages!</p>
                </div>
            </div>
            <div class="ui icon message">
                <i class="inbox icon"></i>
                <div class="content">
                    <span class="header">New Messages</span>
                    <p>You have three new messages!</p>
                </div>
            </div>

        </div>
    </div>
</div>