@using Talent.WebApp.Content.Resources

<div class="ui center aligned container" id="cat-reset-password-div">

    <div class="ui icon message">
        <div class="content">
            <div class="ui divider hidden"></div>
            <div class="header">
                Reset Your Password
            </div>
            <div class="ui divider hidden"></div>
            <p class="cat-reset-password-message">
                Instructions on how to reset your password have been emailed to you.
                Please allow a few minutes for the email to get to you and then follow the instructions in the email.
            </p>
            <div class="ui divider hidden"></div>
        </div>
    </div>
</div>

@section styles
{
    <style>
        #cat-reset-password-div {
            width: 50%
        }

        .ui.icon.message > .icon:not(.close) {
            display: block;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            width: auto;
            line-height: 1;
            vertical-align: middle;
            font-size: 2em;
            opacity: 0.8;
        }

        .cat-reset-password-message {
            color: green;
        }
    </style>
}