<title>@ViewBag.Title</title>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="~/css/semantic.css" rel="stylesheet" />
<link href="~/css/MarsTheme.css" rel="stylesheet" />