/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}



h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    line-height: 1.28571429em;
    margin: calc(2rem - 0.14285714em ) 0em 1rem;
    font-weight: bold;
    padding: 0em;
}

h1 {
    min-height: 1rem;
    font-size: 1.88828571rem;    
}

h2 {
    font-size: 1.31428571rem;
    font-weight: normal;
}

h3 {
    font-size: 1.18571429rem;
}

h4 {
    font-size: 1.05142857rem;
}

h5 {
    font-size: 1rem;
}

.hidden.menu {
    display: none;
}

.masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}

    .ui.vertical.stripe h3 {
        font-size: 2em;
    }

    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
        margin-top: 3em;
    }

    .ui.vertical.stripe .floated.image {
        clear: both;
    }

    .ui.vertical.stripe p {
        font-size: 1.33em;
    }

    .ui.vertical.stripe .horizontal.divider {
        margin: 3em 0em;
    }

.quote.stripe.segment {
    padding: 0em;
}

    .quote.stripe.segment .grid .column {
        padding-top: 5em;
        padding-bottom: 5em;
    }

.footer.segment {
    padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }

    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }

    .secondary.pointing.menu .toc.item {
        display: block;
    }

    .masthead.segment {
        min-height: 350px;
    }

    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }

    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }

    #externalWallet {
        width: 330px;
    }
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.ui.secondary.pointing.menu {
    border-bottom: none;
    margin-top: 1em;
}

.footer {
    background-color: #ffffff !important;
    overflow: hidden !important;
    color: black !important;
}


.footer-social {
    font-size: 2em !important;
    color: #2c3e50;
}

.footer.segment {
    padding: 0.5em 0em;
    margin-top: 1em !important;
}

.superlarge {
    font-family: Montserrat !important;
    font-size: 2em;
}

.validation-summary-errors {
    color: red;
}
.cat-body-minheight {
    min-height: 600px;
}
.cat-cell-highlight {
    background-color: #fba408 !important;
}

.tn-text-background {
    color: #ffffff !important;
    background-color: #ed1c24 !important;
}

.tn-text-background2 {
    color: #ffffff !important;
    background-color: #696969 !important;
}
.buttons .active {
    background-color: #616366 !important;
    color: #ffffff !important;
}
.primary {
    background-color: #ed1c24 !important;
    color: #ffffff !important;
}
/*.cat-buysellbutton.button.primary {
    background-color: #616366 !important;
}*/

#skin-recaptcha-error{
    color: red;
}

.cat-verification-comment{
    font-size:13px;
    margin-left:-25px;
}

#cat-min-amount-div{
    margin-left: 43px;
}
.cat-color-red{
    color: red !important;
}

.cat-color-blue {
    color: blue !important;
}

.cat-user-info-table {
    border: none !important;
    font-size: 16px !important;
    padding-left: 20px !important;
}

.cat-user-info-table tr td {
    border-top: none !important;
    padding: 7px 10px !important;
}

.cat-min-height-tab{
    min-height:238px!important;
}

.cat-extra-space {
    padding-bottom: 10px !important;
}

.cat-text-align-justify {
    text-align: justify !important;
    line-height: 1.5 !important;
}

#cat-cancel-payment {
    width: 33% !important;
}

#cat-cancel-btn {
    width: 33% !important;
}

.cat-extra-space-top-bottom {
    padding: 10px 0 !important;
}

.cat-extra-space-top {
    padding-top: 10px!important;
}

.ui.feed > .event > .label img {
    width: 2em !important;
    height: auto;
    border-radius: 500rem;
}
.ui.feed > .event > .label + .content {
    margin: 0.3em 0 !important;
}

.cat-chat-extra-space{
    padding-bottom:101px !important;
}