@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<div class="ui" id="account-profile-section">
</div>
@section scripts{
    @Scripts.Render("~/Scripts/react/dist/accountProfile.bundle.js");
}
