
@{
    ViewBag.Title = "No Access";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ui container cat-body-minheight center aligned">
    <div class="divider hidden"></div>
    <h1 class="header">Access Denied!</h1>
</div>

