@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutSearch.cshtml";
}

<div id="service-search-section"></div>

@section Scripts{
    @Scripts.Render("~/Scripts/react/dist/searchResult.bundle.js");
}