<section class="category-section">
    <div class="row-padded">
        <div class="ui container">
            <div class="ui grid">
                <div class="five wide column">
                    <h3>Categories</h3>
                    <nav>
                        <a href="">
                            Graphics &amp; Design
                        </a>
                        <a href="">
                            Digital Marketing
                        </a>
                        <a href="">
                            Writing &amp; Translation
                        </a>
                        <a href="">
                            Video &amp; Animation
                        </a>
                        <a href="">
                            Music &amp; Audio
                        </a>
                        <a href="">
                            Programming &amp; Tech
                        </a>
                        <a href="">
                            Business
                        </a>
                        <a href="">
                            Fun &amp; Lifestyle
                        </a>
                        <a href="">Sitemap</a>
                    </nav>
                </div>
                <div class="five wide column">
                    <h3>About</h3>
                    <nav>
                        <a href="">
                            Careers
                        </a>
                        <a href="">
                            Press &amp; News
                        </a>
                        <a href="">
                            Partnerships
                        </a>
                        <a href="">
                            Privacy Policy
                        </a>
                        <a href="">
                            Terms of Service
                        </a>
                    </nav>
                </div>
                <div class="five wide column">
                    <h3>Support</h3>
                    <nav>
                        <a href="">
                            Contact Support
                        </a>
                        <a href="">
                            Help &amp; Education
                        </a>
                        <a href="">
                            Trust &amp; Safety
                        </a>
                        <a href="">
                            Selling on Mars
                        </a>
                        <a href="">
                            Buying on Mars
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
@*<div class="ui container">
        <div class="ui divider"></div>
    </div>
    <div class="ui inverted vertical footer segment " style="background-color:white">
        <div class="ui container">
            <div class="ui stackable divided equal height stackable grid">
                <div class="three wide column">
                    <h4 class="ui header" style="color: #ed1c24">
                        www.skin.example
                    </h4>
                </div>
                <div class="three wide column">
                    <h4 class="ui header">Service</h4>
                </div>
                <div class="three wide column">
                    <h4 class="ui header">About</h4>
                </div>

                <div class="six wide column">
                    <p>
                        <div class="ui horizontal list">
                            <div class="item">
                                <a href="#">
                                    <i class="facebook square icon footer-social"></i>
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <i class="linkedin square icon footer-social"></i>
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <i class="twitter square icon footer-social"></i>
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <i class="instagram square icon footer-social"></i>
                                </a>
                            </div>
                        </div>
                    </p>
                    <p>@DateTime.Now.Year All rights reserved.</p>

                </div>
            </div>
        </div>
    </div>*@
