@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "ui form" }))
    {
        @Html.AntiForgeryToken()

        @*@Html.ActionLink("Hi " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "display-inline item" })*@

        <div class="ui buttons">
            <a href="@Url.Action("MyProfile", "Account")" class="ui button">My Account</a>
            <div class="ui simple dropdown icon button">
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a href="@Url.Action("MyProfile", "Account")" class="item">My Profile</a>
                    <a href="@Url.Action("Verification", "Account")" class="item">Verification</a>
                    <a class="item" href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                </div>
            </div>
        </div>
    }
}
else
{
    
}

<style>
    .display-inline {
        display: inline-block !important;
    }

    .ui.menu:not(.vertical) .right.item, .ui.menu:not(.vertical) .right.menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: inline-block !important;
        margin-left: auto !important;
        padding-top: 10px;
    }
</style>
