
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="ui container">
    <a href="https://placeholder.com"><img src="http://via.placeholder.com/1127x500" width="100%"></a>
</div>

