@{
    ViewData["Title"] = "Job Post";
}

<div id="user-setting-page" data-id="@ViewBag.token" data-title="@ViewBag.pageType"></div>

@section Scripts{
    <script src="~/js/react/dist/userSettings.bundle.js"></script>
}
